<input type="button" ng-show='options.buttons.btnYear.txt' value="{{options.buttons.btnYear.txt}}" ng-click='selectYear();'>
<input type="button" ng-show='options.buttons.btnSemester.txt' value="{{options.buttons.btnSemester.txt}}" ng-click='selectSemester();'>
<input type="button" ng-show='options.buttons.btnTrimester.txt' value="{{options.buttons.btnTrimester.txt}}" ng-click='selectTrimester();'>
<input type="button" ng-show='options.buttons.btnMonth.txt' name="btnMes" value="{{ options.buttons.btnMonth.txt }}" ng-click='selectMonth();'>
<input type="button" ng-show='options.buttons.btnWeek.txt' value="{{options.buttons.btnWeek.txt}}" ng-click='selectWeek();'>
<input type="button" ng-show='options.buttons.btnLastDay.txt' value="{{options.buttons.btnLastDay.txt}}" ng-click='selectLastDay();'>
<input type="button" ng-show='options.buttons.btnToday.txt' value="{{options.buttons.btnToday.txt}}" ng-click='selectToday();'>
<br> {{options.txtDateInit}}:
<br>
<div class="container">
    <input type="text" ng-model="dateInput" ng-click="openModal()" ng-readonly="true" class="input-text" name="dateMap">
    <div ng-show="!isOpen" class="line">
        <div class="calendar column">
            <header>
                <h2>{{ dateInitialMap.month }} - {{ dateInitialMap.year }}</h2>
                <a class="btn-prev fontawesome-angle-left" ng-click="lastInitialMonth(true)">&#x2770</a>
                <a class="btn-next fontawesome-angle-right" ng-click="nextInitialMonth(true)">&#x2771</a>
            </header>
            <table>
                <thead>
                    <tr>
                        <td ng-repeat="dayOfWeek in allWeeks">{{dayOfWeek | limitTo: 3}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="week in dateInitialMap.result">
                        <td ng-repeat="dayOfWeek in allWeeks" class="{{week[dayOfWeek].class}} {{week[dayOfWeek].select}}" ng-click="week[dayOfWeek].isReadyOnly ? $event.stopPropagation() : chooseInitalDay(week[dayOfWeek])">{{week[dayOfWeek].date.getDate()}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="calendar column">
            <header>
                <h2>{{ dateFinalMap.month }} - {{ dateFinalMap.year }}</h2>
                <a class="btn-prev fontawesome-angle-left" ng-click="lastInitialMonth()">&#x2770;</a>
                <a class="btn-next fontawesome-angle-right" ng-click="nextInitialMonth()">&#x2771;</a>
            </header>
            <table>
                <thead>
                    <tr>
                        <td ng-repeat="dayOfWeek in allWeeks">{{dayOfWeek | limitTo: 3}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="week in dateFinalMap.result">
                        <td ng-repeat="dayOfWeek in allWeeks" class="{{week[dayOfWeek].class}} {{week[dayOfWeek].select}}" ng-click="week[dayOfWeek].isReadyOnly ? $event.stopPropagation() : chooseFinalDay(week[dayOfWeek])">{{week[dayOfWeek].date.getDate()}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--<td class="current-day event">23</td>-->